//cart

.products-cart-wrapper{
  width: 1280px;
  max-width: 98vw;
  height: 100vh;
  position: absolute;
  top: 0%;
  background: rgba(18, 18, 18, 0.4);
  z-index: 11;
}

.cart-footer.button-big{
  width: 100%;
  max-width: 340px;
  height: 48px;
  background-color: black;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 48px;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
  
}

.products-cart{
  width: 388px;
  max-width: 65%;
  height: 100vh;
  position: absolute;
  right: 2px;
  background-color: white;

  .cart-header{
    line-height: 48px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    vertical-align: middle;
    padding-left: 29px;

    .close-cart-button{
      padding-right: 15px;
      opacity: 0.6;
      cursor: pointer;
    }
  }

  .absent-items{
    font-weight: 600;
    font-size: 26px;
    line-height: 150%;
    margin-top: 48px;
    text-align: center;
  }
}

.items-information{
  position: relative;
  
  max-width: 98vw;
  height: 100vh;

  .cart-items-header{
    padding: 16px 24px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 600px) {
      font-size: 12px;
    }

    @media screen and (max-width: 500px) {
      font-size: 9px;
      padding-left: 3px;
      padding-right: 3px;
      justify-content: flex-start;
    }

    .items-header.active{
      color: #121212;
    }
    .items-header{
      color: #E6E6E6;
    }
  }

  .render-items{
    margin-left: 24px;
    height: 50vh;
    overflow:auto;
    
    
    @media screen and (max-width: 440px) {
      margin-left: 2px;
      margin-right: 2px;
      font-size: 10px;
    }

    .item-cloth{
      max-width: 340px;
      width: 100%;
      height: 104px;
      display: flex;
      padding-bottom: 12px;
      border-bottom: 2px solid #E6E6E6;
      position: relative;

  
      .item-img{
        display: inline-block;
        width: 83px;
        height: 104px;

        img{
          min-width: 83px;
          width: 100%;
          height: 100%;
          
          object-fit: cover;
        }
      }

    }
  }

  .cart-footer{
    margin-left: 24px;
    position:absolute;
    bottom: 70px;
    max-width: 388px;
    width: 90%;

    @media screen and (max-width: 440px) {
      margin-left: 5px;
    }
    

    .button-big.view-card {
      width: 99%;
      text-align: center;
      font-weight: 500;
      font-size: 13px;
      line-height: 48px;
      letter-spacing: 0.06em;
      background-color: #F8F8F8;
      color: black;
      border: none;
    }
  }

  .button-big.back{
    width: 90%;
    max-width: 340px;
    height: 48px;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    line-height: 48px;
    letter-spacing: 0.06em;
    margin-bottom: 10px;
     position: absolute;
     bottom: 130px;
     left: 24px;

     @media screen and (max-width: 440px) {
      left: 10px
    }
  }
}

.cart-selected-options {
  padding-left: 16px;
  max-width: 100%;
  width: 240px;

  @media screen and (max-width: 440px) {
   padding-left: 2px;
  }

  .item-name{
    font-size: 14px;
    opacity: 0.6;
  }

  .item-color-size{
    line-height: 18px;
    font-weight: 600;
  }

  .manage-item{
    width: 60%;
    max-width: 240px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0%;
    right: 0%;
    left: 100px;

    @media screen and (max-width: 500px) {
      left: 85px;
      
    }
   
    .item-counter{
      width: 85px;
      height: 30px;
      background-color: #F8F8F8;
      margin-bottom: 12px;
      display: flex;
      align-items: center;

      @media screen and (max-width: 460px) {
        width: 50px;
      }
      
      span{
                      
        button {
          border: none;
          background-color: #F8F8F8;
          width: 35px;
          height: 30px;
          

          @media screen and (max-width: 460px) {
            width: 20px;
            padding: 0%;
          }
        }
      }
    }

    .item-price{
      font-weight: 700;
      font-size: 14px;

      @media screen and (max-width: 530px) {
        font-size: 9px;
        
      }
    }
  }
}


.total-price{
  display: flex;
  justify-content: space-between;
  max-width: 340px;
  margin-top: 5px;
  margin-bottom: 28px;

  .total.item-price{
    font-weight: 700;
    font-size: 16px;
  }
}

.cart-footer.total-price {
  position:absolute;
  bottom: 170px;
}

.cart-footer.button-big{
  position:absolute;
  bottom: 130px;
}

// delivery

.main-cart-form{
  width: 360px;
  max-width: 100%;
  margin-left: 23px;
  
  @media screen and (max-width:600px) {
    margin-left: 5px;
  }

  .total-price{
    margin-left: 0%;
  }
}

.form-delivery, .form-payment{
  width: 360px;
  max-width: 96%;
  height: 70vh;
  
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 10px;

  @media screen and (max-height:850px) {
    height: 55vh;
  }

  @media screen and (max-width:600px) {
    max-width: 90%;
  }
 
}

.delivery-method__radio{
  display: flex;
  flex-direction: column;
  width: 340px;
  max-width: 100%;
}

.label__method{
  border-bottom: 2px solid #F8F8F8;
  line-height: 40px;
  font-weight: 400;
  font-size: 14px;
  width: 340px;
  max-width: 100%;
  position: relative;
}

.address-apartment-home{
  display: flex;
  justify-content: space-between;
}

.address-store{
  display: flex;
  flex-direction: column;
}

.error{
  color: red;
}

//payment

.payment-card-data{
  width: 95%;
  display: flex;
  flex-direction: column;

  .payment-card-info{
    display: flex;
    width: 100%;
  }
}

.payment-method__radio{
  display: flex;
  flex-direction: column;

  .payment-label-block{
    height: 50px;
    display: flex;
    align-items:  center;
  }
}

.payment-email{
  display: flex;
  flex-direction: column;
}

// cvv

.cardCVV-input{
  display: flex;
  justify-content: flex-start;
  height: 37px;
  padding-bottom: 2px;

  .input-cvv-space{
    border: none;
    outline:none;
    width: 140px;
    max-width: 80%;
    padding: 0px 2px 1px 2px;
    margin: 0%;
  }
}


.button-big.cart-footer.delivery{
  margin-left: 0%;
}

.cart-input-name{
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.06em;
  padding-top: 12px;
 
}

.field-input, .field-input_half{
  line-height: 35px;
  height: 35px;
  background: #F8F8F8;
  border: none;
  margin-top: 5px;
  width: 97%;
  max-width: 97%;
}

.field-input_half{
  width: 96%;
}


.is-invalid{
  border: 1px solid red;
}

.checkbox-agree{
  display: flex;
  margin-top: 2px;

  > label{
    font-size: 14px;
  }
}

// cart result

.cart-result_additional-info{
  text-align: center;
  margin-top: 20px;
}

.cart-footer.back-button.error{
  bottom: 140px;
}

.cart-footer.button-big.black.error{
  bottom: 200px;
}

.cart-footer.back-button.inside{
  margin-left: 0%;
}

// custom radio

input[type='radio']::before {
  content: '';
  position: absolute;
  top: 18px;
  left:11px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
}

.payment-label-block input[type='radio']::before {
  top: 26px
}

input[type='radio']:checked::after {
  content: '';
  position: absolute;
  top: 18px;
  left:11px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
  transform: translate(-50%, -50%);
  //visibility: visible;
}

.payment-label-block input[type='radio']:checked::after{
  top: 26px;
}

.clarify-text{
  color:#9C9C9C;
}

.cart-footer.button-big.items{
  bottom: 80px;
}

.render-items ~.total-price{
  bottom: 130px;
}



