//cart

.products-cart-wrapper{
  width: 1280px;
  max-width: 98vw;
  height: 100vh;
  position: absolute;
  top: 0%;
  background: rgba(18, 18, 18, 0.4);
  z-index: 11;
}

.products-cart{
  width: 388px;
  max-width: 65%;
  height: 98vh;
  position: absolute;
  right: 2px;
  background-color: white;

  .cart-header{
    line-height: 48px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    vertical-align: middle;
    padding-left: 29px;

    .close-cart-button{
      padding-right: 10px;
      opacity: 0.6;
      cursor: pointer;
    }
  }

  .absent-items{
    font-weight: 600;
    font-size: 26px;
    line-height: 150%;
    margin-top: 48px;
    text-align: center;
  }
}

.items-information{
  position: relative;
  
  max-width: 98vw;
  height: 100vh;

  .cart-items-header{
    padding: 16px 24px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 600px) {
      font-size: 12px;
    }

    @media screen and (max-width: 500px) {
      font-size: 9px;
      padding-left: 3px;
      padding-right: 3px;
    }

    .items-header.active{
      color: #121212;
    }
    .items-header{
      color: #E6E6E6;
    }
  }

  .render-items{
    margin-left: 24px;
    height: 50vh;
    overflow:auto;
    
    
    @media screen and (max-width: 440px) {
      margin-left: 2px;
      margin-right: 2px;
      font-size: 10px;
    }

    .item-cloth{
      max-width: 340px;
      width: 100%;
      height: 104px;
      display: flex;
      padding-bottom: 12px;
      border-bottom: 2px solid #E6E6E6;
      position: relative;

  
      .item-img{
        display: inline-block;
        width: 83px;
        height: 104px;

        img{
          min-width: 83px;
          width: 100%;
          height: 100%;
          
          object-fit: cover;
        }
      }

    }
  }

  .cart-footer{
    margin-left: 24px;
    position:absolute;
    bottom: 70px;
    max-width: 388px;
    width: 90%;

    @media screen and (max-width: 440px) {
      margin-left: 5px;
    }
    
    .total-price{
      display: flex;
      justify-content: space-between;
      max-width: 340px;
      margin-top: 10px;
      margin-bottom: 28px;

      .total.item-price{
        font-weight: 700;
        font-size: 16px;
      }
    }

    .button-big{
      width: 100%;
      max-width: 340px;
      height: 48px;
      background-color: black;
      color: white;
      text-align: center;
      font-weight: 500;
      font-size: 13px;
      line-height: 48px;
      letter-spacing: 0.06em;
      margin-bottom: 10px;
    }

    .button-big.view-card {
      background-color: #F8F8F8;
      color: black;
    }
  }

  .button-big.back{
    width: 90%;
    max-width: 340px;
    height: 48px;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    line-height: 48px;
    letter-spacing: 0.06em;
    margin-bottom: 10px;
     position: absolute;
     bottom: 130px;
     left: 24px;

     @media screen and (max-width: 440px) {
      left: 10px
    }
  }
}

.cart-selected-options {
  padding-left: 16px;
  max-width: 100%;
  width: 240px;

  @media screen and (max-width: 440px) {
   padding-left: 2px;
  }

  .item-name{
    font-size: 14px;
    opacity: 0.6;
  }

  .item-color-size{
    line-height: 18px;
    font-weight: 600;
  }

  .manage-item{
    width: 60%;
    max-width: 240px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0%;
    right: 0%;
    left: 100px;

    @media screen and (max-width: 500px) {
      left: 85px;
      
    }
   
    .item-counter{
      width: 85px;
      height: 30px;
      background-color: #F8F8F8;
      margin-bottom: 12px;
      display: flex;
      align-items: center;

      @media screen and (max-width: 460px) {
        width: 50px;
      }
      
      span{
                      
        button {
          border: none;
          background-color: #F8F8F8;
          width: 35px;
          height: 30px;
          

          @media screen and (max-width: 460px) {
            width: 20px;
            padding: 0%;
          }
        }
      }
    }

    .item-price{
      font-weight: 700;
      font-size: 14px;

      @media screen and (max-width: 530px) {
        font-size: 9px;
        
      }
    }
  }
}

