@import '../../variables.scss';

// footer

.footer {
  width: $width;
  max-width: $maxwidth;
  margin-top: 20px;
  
  &__join-form{
    height: 56px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #121212;
    color: #FFFFFF;
    letter-spacing: 0.06em;

    @media screen  and(max-width:850px){
    flex-direction: column;
     height: 140px;
     
      .input__block {
       flex-direction: column;
       justify-content: center;
       align-items: center;

       .button_submit {
        height: 20px;
        margin: 5px;
        
      }
     }
    }

    .footer__form {
      width: 90%;
      max-width: 12px + 400px +108px;

      .input__block {
        display: flex;
               
        > #email {
          margin-left: 3px;
          width: 90%;
          max-width: 400px;
          height: 32px;
          opacity: 0.2;
          margin-right: 12px;
          border: none;
        }
  
         .button_submit{
          margin-right: 3px;
          width: 100%;
          max-width: 108px;
          height: 32px;
          border: 1px solid white;
          background-color: black;
          color: #FFFFFF;
          display: flex;
          justify-content: space-around;
          align-items: center;
          
        }
  
        .button_submit:disabled{
          opacity: 0.3;
        }
      }

    }

  
  }

  &__navigations{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 237px;
    background-color: #FFFFFF;

    @media screen  and(max-width:850px){
      display: grid;
      grid-template-columns: repeat(auto-fill, 200px);
      grid-template-rows: repeat(auto-fill, 149px);
      grid-gap: 30px;
      height: 100%;
      
    }

    > .footer__navigation__block{
      width: 255px;
      height: 149px;

      > h4{
        margin: 0;
        font-weight: 600;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #121212;

        > .link-style{
          text-decoration: none;
          color: #121212;
        }
      }

      > p {
        color: #121212;
        opacity: 0.8;
        line-height: 34px;
        margin: 0;

        > .link-style {
          text-decoration: none;
          color: #121212;
        }
      }

      > .contacts__content {
        line-height: 34px;

        > a {
          text-decoration: none;
          color: #121212;
        }
      }
    }
  }

  &__informations{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #F8F8F8;
    height: 40px;

    @media screen  and(max-width:850px){
      display: none;
    }
  }
}

//footer