@import "./variables.scss";


body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Spartan', sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  
}

#root {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  box-sizing: border-box;
  height: 100%;
  width: $width;
  max-width: $maxwidth;

  position: relative;

  @media screen and (min-width:280px) {
    overflow-x: hidden;
  }
  
}

// main

main{
  margin-top: 122px;
  height: 100%; //
  width: $width;
  max-width: $maxwidth;

  flex: 1 0 auto;
}

.footer{
  flex: 0 0 auto;
}

//spinner general css

.main-spinner-wrapper{
  width: 100%;
  background-color: white;
  opacity: 0.6;
  z-index: 11;
}













