@import '../../variables.scss';

.banner-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: $maxwidth;
  height: 32px;
  background-color:  #F8F8F8;

 

  > .banner-information{
    margin-left: 85px;

    @media screen and (max-width:600px) {
      margin-left: 3px;
    }

    > span {
      margin: 6px;
    }

    a {
      text-decoration: none;
      color: black;
    }
  }

  > .banner-share{
    margin-right: 85px;

    @media screen and (max-width:600px) {
      margin-right: 3px;

      > .share-text {
        display: none;
      }
    }

    > span {
      margin-left: 6px;
    }
  }
}

.banner-block-name {
  display: flex;
  justify-content: center;
  height: 70px;
  background-color:  #F8F8F8;
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0.06em;
  //text-transform: uppercase;
  color: #121212;

  @media screen and (max-width:600px) {
    font-size: 15px;
  }
}

